@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --bg-dark: black;
  --bg-light: white;
  --main-color: #dbdbdb;
  --main-fade-color: #c7c7c780;
  --work-text-color: #5c5c5c;
  --work-text-fade-color: #9e9e9e;
  --main-text-color: black;
  --white-text-color: white;
  --black-text-color: black;
}
